#site-box {}

body { margin: 10; padding:0; }

#map {
    position: relative;
    top:0; bottom:0;
    width: 98%;
    height: 600px;
    margin:10px; padding:0px; border:2px;
    background-color:lightgray;
}

#table {
    position: relative;
    margin:10px; padding:0px; border:2px;
}
